body {
  font-family: sans-serif;
  padding: 20px 20px;
}

h1 {
  text-align: center;
  padding-bottom: 20px;
}

h4,
h5 {
  padding-top: 15px;
}

.container {
  top: 40px;
  left: 20px;
  right: 0px;
  width: 800px;
}

.forecast-weather-date {
  text-align: center;
}

.forecast-weather-temperature-min {
  opacity: 0.6;
}

.search {
  margin: 0 auto;
  width: 360px;
}

.units {
  position: relative;
  top: -25px;
}

.weather-app-wrapper {
  max-width: 750px;
  margin: 30px auto;
  text-align: center;
}

.weather-text {
  font-size: 25px;
}

#local-button {
  margin-left: 10px;
}

#current-weather,
#forecast-weather {
  width: 540px;
  margin: auto;
}

#picture {
  padding-top: 40px;
  width: 300px;
}

#temp {
  font-size: 50px;
  color: rgb(33, 33, 33);
}
